

<% if user_signed_in? %>
<h1>New Article</h1>
<%= render 'form', article: @article %>

<%= link_to 'Back', articles_path %>

            <% else %>
              <h1>You must log in</h1>
            <% end %>